@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Open+Sans&family=Prata&display=swap');

:root {
    --main-color: #ffffff;
    --accent-color: black;
    scroll-behavior: smooth;
}

body{
    margin: auto;
    max-width: 980px;
}

 /*header*/

header.cap {
    background-image: url('../img/head.jpg');
    background-size: 100% 68px;
    display: flex;
    justify-content: space-between;
}

.cap .logo a h1 {
    font-family: 'Akronim', cursive;
    font-size: 32px;
    text-decoration: underline;
}

.cap .logo a p {
    font-family: 'Prata', serif;
    font-size: 12px;
}

.logo h1, p{
    margin: 0px 0px 0px 17px;
    font-style: italic;
    color: var(--main-color);
}

.logo a{
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.cap .autorisation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 17px;
    font-family: 'Open Sans', sans-serif;
}

.cap .autorisation a {
    text-decoration: none;
    color: var(--main-color);
    margin: 5px 7.5px 5px 7.5px;
    font-size: 17px;
    font-weight: bold;
}

/*Tenet*/

#films .tenet .info {
    background-color: rgba(0, 0, 0, 0.548);
    background-repeat: no-repeat;
    height: 538px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#films .tenet {
    background-image: url('../img/tenet.jpg');
    background-size: 100% 538px;
}



#films .tenet .info h2 {
    color: var(--main-color);
    font-family: 'Prata', serif;
    font-size: 34px;
    margin: 0px;
}


#cite #films .tenet .info .buttons {
    background-size: 429px 64px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#cite #films .tenet .info .buttons a .button-tenet-trailer {
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Prata', serif;
    background-color: rgb(0, 119, 255);
    width: 204.78px;
    height: 44px;
    border: 2px solid transparent;
    border-radius: 3px;
    margin: 10px;
    outline: none;
    font-weight: bold;
}

#cite #films .tenet .info .buttons a .button-tenet-trailer:hover {
    border-color: white;
    background-color: white;
    color: black;
    transition: all 0.7s;
    cursor: pointer;
}

#cite #films .tenet .info .buttons a .button-tenet-tickets {
    background-color: transparent;
    width: 184.59px;
    height: 44.22px;
    border: 2px solid white;
    border-radius: 3px;
    margin: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Prata', serif;
    text-decoration: none;
}

#cite #films .tenet .info .buttons a .button-tenet-tickets:hover{
    background-color: white;
    color: black;
    transition: all 0.7s;
    cursor: pointer;
}