@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Open+Sans&family=Prata&display=swap');

:root {
    --main-color: #ffffff;
    --accent-color: black;
    scroll-behavior: smooth;
}

body{
    margin: auto;
    max-width: 980px;
    background-color: gray;
}

 /*header*/

header.cap {
    background-image: url('../img/head.jpg');
    background-size: 100% 68px;
    max-height: 68px;
    display: flex;
    justify-content: space-between;
}

.cap .logo a h1 {
    font-family: 'Akronim', cursive;
    font-size: 32px;
    text-decoration: underline;
    margin: 0px;
}

.cap .logo a p {
    font-family: 'Prata', serif;
    font-size: 12px;
    margin: 0px;
}

.cap .logo #cap h1{
    margin: 0px 0px 0px 17px;
    font-style: italic;
    color: var(--main-color);
}

.cap .logo #cap p{
    margin: 0px 0px 0px 17px;
    font-style: italic;
    color: var(--main-color);
}

.cap .logo a{
    text-decoration: none;
    color: white;
}

.cap .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 17px;
}

.cap .autorisation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 17px;
    font-family: 'Open Sans', sans-serif;
}

.cap .autorisation a {
    text-decoration: none;
    color: var(--main-color);
    margin: 5px 7.5px 5px 7.5px;
    font-size: 17px;
    font-weight: bold;
}

/*Tenet*/

.carousel-caption .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carousel-caption h2 {
    color: var(--main-color);
    font-family: 'Prata', serif;
    font-size: 58px;
    margin: 0px;
    text-align: center;
    text-shadow: 1px 1px 10px black;
}


.carousel-caption .buttons {
    background-size: 429px 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

@media(min-width: 480px){
    .carousel-caption .buttons {
        display: flex;
        flex-direction: row;
    }
}

.carousel-caption .buttons .button-tenet-trailer input {
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Prata', serif;
    background-color: rgb(0, 119, 255);
    width: 250.78px;
    height: 44px;
    border: 2px solid transparent;
    border-radius: 3px;
    margin: 10px;
    outline: none;
    font-weight: bold;
}

.carousel-caption .buttons .button-tenet-trailer input:hover {
    border-color: white;
    background-color: white;
    color: black;
    transition: all 0.7s;
    cursor: pointer;
}

.carousel-caption .buttons .button-tenet-tickets input {
    background-color: rgba(128, 128, 128, 0.459);
    width: 220.59px;
    height: 44.22px;
    border: 2px solid white;
    border-radius: 3px;
    margin: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Prata', serif;
    text-decoration: none;
}

.carousel-caption .buttons .button-tenet-tickets input:hover{
    background-color: white;
    color: black;
    transition: all 0.7s;
    cursor: pointer;
}

/*Troli 2*/


#cite #films .troli-two .info .buttons {
    background-size: 429px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

@media(min-width: 480px){
    #cite #films .troli-two .info .buttons {
        flex-direction: row;
    }
}

.carousel-caption .buttons .button-troli-two-trailer input {
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Prata', serif;
    background-color: rgb(0, 119, 255);
    width: 250.78px;
    height: 44px;
    border: 2px solid transparent;
    border-radius: 3px;
    margin: 10px;
    outline: none;
    font-weight: bold;
}

.carousel-caption .buttons .button-troli-two-trailer input:hover {
    border-color: white;
    background-color: white;
    color: black;
    transition: all 0.7s;
    cursor: pointer;
}

.carousel-caption .buttons .button-troli-two-tickets input {
    background-color: rgba(128, 128, 128, 0.459);
    width: 220.59px;
    height: 44.22px;
    border: 2px solid white;
    border-radius: 3px;
    margin: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Prata', serif;
    text-decoration: none;
}

.carousel-caption .buttons .button-troli-two-tickets input:hover {
    background-color: white;
    color: black;
    transition: all 0.7s;
    cursor: pointer;
}

/* Cinemas */

#cite .cinemas {
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 897px;
    min-height: 626px;
}

#cite .cinemas>div {
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    max-height: 897px;
    min-height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cite .cinemas div h2 {
    text-align: center;
    color: white;
    font-family: 'Prata', serif;
    font-size: 34px;
}

#cite .cinemas>div>div {
    width: 88%;
    height: 60%;
    margin: 0px auto;
    background-color: rgba(255, 254, 254, 0.548);
}

#cite .cinemas>div>div>div {
    width: 100%;
    margin: 0px;
    padding: 15px 15px 50px 15px;
    height: 100%;
}

#cite .cinemas div #carousel img {
    width: 100%;
}

/*Menu*/

#cite .shop .title p {
    color: black;
    font-family: 'Prata', serif;
    font-size: 34px;
    margin: 0px;
    text-align: center;
    font-weight: normal;
}

#cite .shop .title h2 {
    color: black;
    font-family: 'Prata', serif;
    font-size: 34px;
    margin: 0px;
    text-align: center;
    font-weight: normal;
}

#cite .shop .menu div h3 {
    color: black;
    font-family: 'Prata', serif;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    margin: 11px 0px;
}

#cite .shop .menu div p {
    color: #505050;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    margin: 11px 0px;
}

#cite .shop {
    padding: 95px 0px;
    background-color: white;
}

#cite .shop .menu > div {
    margin: 30px 5px 0px 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

#cite .shop .menu  div img {
    width: 100%;
}

@media (min-width: 540px) {
    #cite .shop .menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 760px) {
    #cite .shop .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Contacts */

.contacts-and-form {
    background-image: url(../img/footer_fon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts-and-form #contacts-and-form {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 80px 24px 75px 24px;
}

.contacts-and-form #contacts-and-form #contacts h2 {
    font-family: 'Prata', serif;
    font-size: 34px;
    color: white;
}

.contacts-and-form #contacts-and-form #contacts h3 {
    font-family: 'Prata', serif;
    font-size: 22px;
    color: white;
    margin: 0px;
}

.contacts-and-form #contacts-and-form #contacts p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: white;
    margin: 5px 0px 20px 0px;
}

.contacts-and-form #contacts-and-form #contacts .map{
    min-width: 100%;
    margin: 0px auto;
}

.contacts-and-form #contacts-and-form #contacts .map iframe {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
}

/* Form */

.contacts-and-form #contacts-and-form form {
    margin-top: 30px;
}

.contacts-and-form #contacts-and-form form label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
}

.contacts-and-form #contacts-and-form form label input {
    height: 44px;
    width: 100%;
    background-color: #ffffff3d;
    border-radius: 10px ;
}

.contacts-and-form #contacts-and-form form label input::placeholder {
    padding: 0px 0px 0px 40px;
    color: #a7a5a5;

}

.contacts-and-form #contacts-and-form form label .message {
    height: 150px;
}

.contacts-and-form #contacts-and-form form label .message::placeholder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: baseline;
}

.contacts-and-form #contacts-and-form form .send{
    width: 100%;
    height: 44px;
    margin-top: 40px;
    border-radius: 7px;
}

@media (min-width: 768px) {
    .contacts-and-form #contacts-and-form {
        display: grid;
        grid-template-columns: 1fx 1fx;
        grid-gap: 30px;
    }

    .contacts-and-form #contacts-and-form #contacts{
        grid-column: 1/2;
    }

    .contacts-and-form #contacts-and-form form{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}